.games {
    height: 100em;
    margin-top: 2%;
}

.games article {
    height: auto;
    background-color: rgb(196, 24, 30);
    width: 100%;
    position: relative;
    margin: 10px;
    border: solid;
    border-color: black;
}

.games grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1rem;
}

.games nav {
    background-color: rgb(31, 163, 59);
}

.games img {
    margin: 10px;
    width: 20%;
    height: 300px;
    width: 300px;
}

.games h3 {
    margin: 10px;
    font-size: 3em;
    text-align: center;
}
