header {
  height: 100px;
  width: 100%;
  background-color: #e1e3b2;
  display: flex;
  justify-content: space-between;
}

header a {
  margin: 10px;
  text-decoration: none;
  color: #434544;
  font-weight: 700;
}

header nav a:hover {
  text-decoration: underline;
}

header img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

header nav {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
