* {
    margin: 0;
}

.info {
    height: 100%;
    margin-top: 2%;
}

.articleInfo {
    background-color: rgb(196, 24, 30);
    position: relative;
    border: solid;
    border-color: black;
    height: auto;
}

.tableInfo {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 1rem;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

nav {
    background-color: rgb(31, 163, 59);
    width: 100%;
}

.imgInfo {
    margin: 10px;
    height: 150px;
    width: 150px;
}

h3 {
    margin: 10px;
    font-size: 2em;
    text-align: center;
}

@media (min-width: 800px) {
    .tableInfo {
        grid-template-columns: 45% 45%;
    }
    .imgInfo {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 1200px) {
    .tableInfo {
        grid-template-columns: 30% 30% 30%;
    }
    .imgInfo {
        height: 250px;
        width: 250px;
    }
}

@media (min-width: 1800px) {
    .tableGames {
        grid-template-columns: 24% 24% 24% 24%;
    }
    .imgGames {
        height: 250px;
        width: 250px;
    }
}